    <body>
        <%- include('includes/header') %>
        <h1>Article n°<%= article._id %></h1>
        <p>Titre: <%= article.title %></p>
        <p>Description: <%= article.description %></p>
        <p>User associé: <%= article.user || "Utilisateur inexistant" %></p>
    </body>
    <%- include('includes/footer') %>