<body>
    <%- include('includes/header') %>
    <form action="/" method="post">
        <input type="text" name="title" id="title" placeholder="title">
        <input type="text" name="description" id="description" placeholder="description">
        <select name="user" id="user">
            <% users.map( user => { %>
                <option value="<%= user._id %>"><%= user.firstname %></option>
            <% }) %>
        </select>
        <input type="submit" value="Submit">
    </form>
    <% if (articles && articles.length > 0) { %>
        <ul>
            <% articles.map( article => { %>
                <li></br>
                    <a href="/article/<%= article._id %>">
                        Titre: <%= article.title %> </br>Description: <%= article.description %>
                    </a>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Aucun article</p>
    <% } %>
    <%- include('includes/footer') %>
</body>