<body>
  <%- include('includes/header') %>
    <form action="/user" method="post">
        <input type="text" name="firstname" id="firstname" placeholder="firstname">
        <input type="text" name="lastname" id="lastname" placeholder="lastname">
        <input type="text" name="age" id="age" placeholder="age">
        <input type="submit" value="Submit">
    </form>
    <% if (users && users.length > 0) { %>
        <ul>
            <% users.map( user => { %>
                <li>
                  <%= user.firstname %> <%= user.lastname %> <%= user.age %>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>Aucun user</p>
    <% } %>
    <%- include('includes/footer') %>
</body>